@import "../../App.scss";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;

  button {
    background-color: white;
    color: #666;
    border: 1px solid #ddd;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover:not(:disabled) {
      background-color: #f8f9fa;
    }

    &:disabled {
      background-color: #f8f9fa;
      color: #ccc;
      cursor: not-allowed;
    }
  }

  .page-numbers {
    display: flex;
    gap: 3px;

    button {
      background: white;
      border: 1px solid #ddd;
      padding: 8px 12px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: #f8f9fa;
      }

      &.active {
        background-color: #4a5568;
        color: white;
        border-color: #4a5568;
        z-index: 1;
      }
    }
  }
}

