@import "../../App.scss";

.announcement-list-wrapper {
  width: 100%;

  .announcement-table-section {
    background-color: white;
    width: 100%;
    border-left: 1px solid #ddd;
    margin-top: 20px;

    .announcement-list-grid {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;

      th,
      td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:first-child {
          border-left: none;
        }
      }

      th {
        background-color: #4a5568;
        color: white;
        font-weight: 500;
        border-bottom: 1px solid #2d3748;
      }

      tr {
        &:hover {
          background-color: #f8f9fa;
        }
      }

      th:nth-child(1),
      td:nth-child(1) {
        width: 15%;
      }
      th:nth-child(2),
      td:nth-child(2) {
        width: 10%;
      }
      th:nth-child(3),
      td:nth-child(3) {
        width: 8%;
      }
      th:nth-child(4),
      td:nth-child(4) {
        width: 8%;
      }
      th:nth-child(5),
      td:nth-child(5) {
        width: 12%;
      }
      th:nth-child(6),
      td:nth-child(6) {
        width: 12%;
      }
    }

    .error-message {
      color: $error-color;
      text-align: center;
      padding: 20px;
      font-weight: bold;
    }
    .announcement-title-btn {
      font-weight: bold;
      border: none;
      color: #4a5568;
      cursor: pointer;
      padding: 10;
      font-size: 16px;
      border: 1px solid #ddd;

      &:hover {
        text-decoration: underline;
        color: #2d3748;
      }
    }
  }
}
