@import "../../../App.scss";

.approval-page-container {
  max-width: 90%;
  margin: auto;
  position: relative;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
      color: $primary-color;
      font-family: $font-primary;
      margin: 0;
    }
  }

  // 반응형 디자인 (모바일, 태블릿 등)
  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 10px;
    top: 80px;

    .page-header {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;

      h1 {
        font-size: 1.5rem; // 제목 크기 조정
      }
    }

    .approval-page-container {
      padding: 0 15px;
    }
  }
}
