@import "../../../App.scss";

.employee-list-container {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

  h3 {
    font-size: 20px;
    color: $primary-color;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .employee-table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    border: 1px solid #ddd;

    thead {
      background-color: #4a5568;
      color: white;

      th {
        padding: 15px;
        text-align: center;
        font-weight: 500;
        border: 1px solid #ddd;
      }
    }

    tbody {
      tr {
        td {
          padding: 15px;
          text-align: center;
          border: 1px solid #ddd;
          word-wrap: break-word;
        }

        .employee-name-btn {
          font-weight: bold;
          border: none;
          color: #4a5568;
          cursor: pointer;
          padding: 10;
          font-size: 16px;
          border: 1px solid #ddd;

          &:hover {
            text-decoration: underline;
            color: #2d3748;
          }
        }
      }
    }
  }

  // 반응형 디자인 (모바일, 태블릿 등)
  @media (max-width: 768px) {
    .employee-table {
      thead {
        th {
          padding: 10px;
          font-size: 0.9rem;
        }
      }

      tbody {
        tr {
          td {
            padding: 10px;
            font-size: 0.9rem;
          }
        }
      }
    }

    h3 {
      font-size: 1.5rem;
    }

    .employee-table {
      table-layout: fixed;

      th:nth-child(1),
      td:nth-child(1) {
        display: none;
      }
      th:nth-child(2),
      td:nth-child(2) {
        width: 15%;
      }
      th:nth-child(3),
      td:nth-child(3) {
        display: none;
      }
      th:nth-child(4),
      td:nth-child(4) {
        width: 10%;
      }
      th:nth-child(5),
      td:nth-child(5) {
        display: none;
      }
      th:nth-child(6),
      td:nth-child(6) {
        display: none;
      }
      th:nth-child(7),
      td:nth-child(7) {
        display: none;
      }
      th:nth-child(8),
      td:nth-child(8) {
        width: 12%;
      }
      th:nth-child(9),
      td:nth-child(9) {
        width: 10%;
      }
      th:nth-child(10),
      td:nth-child(10) {
        display: none;
      }
      th:nth-child(11),
      td:nth-child(11) {
        width: 15%;
      }
    }
  }
}
