@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css");
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", sans-serif;
  line-height: 1.6;
  display: block;
}

.request-order-list-wrapper {
  width: 100%;
}
.request-order-list-wrapper .request-order-table-section {
  background-color: white;
  width: 100%;
  margin-top: 10px;
  border-left: 1px solid #ddd;
}
.request-order-list-wrapper .request-order-table-section .request-order-list {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.request-order-list-wrapper .request-order-table-section .request-order-list th,
.request-order-list-wrapper .request-order-table-section .request-order-list td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  word-wrap: break-word;
}
.request-order-list-wrapper .request-order-table-section .request-order-list th:first-child,
.request-order-list-wrapper .request-order-table-section .request-order-list td:first-child {
  border-left: none;
}
.request-order-list-wrapper .request-order-table-section .request-order-list th {
  background-color: #4a5568;
  color: white;
  font-weight: 500;
  border-bottom: 1px solid #2d3748;
  position: relative;
}
.request-order-list-wrapper .request-order-table-section .request-order-list tr:hover {
  background-color: #f8f9fa;
}
.request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(1),
.request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(1) {
  width: 10%;
}
.request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(2),
.request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(2) {
  width: 25%;
}
.request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(3),
.request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(3) {
  width: 20%;
}
.request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(4),
.request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(4) {
  width: 15%;
}
.request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(5),
.request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(5) {
  width: 15%;
}
.request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(6),
.request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(6) {
  width: 15%;
}
.request-order-list-wrapper .request-order-table-section .request-order-list .order-list-name-btn {
  appearance: none;
  background: none;
  border: none;
  color: #4a5568;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none;
}
.request-order-list-wrapper .request-order-table-section .request-order-list .order-list-name-btn:hover {
  text-decoration: underline;
  color: rgb(25.3846153846, 31.0256410256, 40.6153846154);
}
@media (max-width: 768px) {
  .request-order-list-wrapper .request-order-table-section {
    margin-top: 10px;
    border: none;
  }
  .request-order-list-wrapper .request-order-table-section .request-order-list {
    table-layout: auto; /* 열 너비를 자동으로 조정 */
  }
  .request-order-list-wrapper .request-order-table-section .request-order-list th,
  .request-order-list-wrapper .request-order-table-section .request-order-list td {
    padding: 10px;
  }
  .request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(1),
  .request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(1) {
    display: none;
  }
  .request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(2),
  .request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(2) {
    width: 20%;
  }
  .request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(3),
  .request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(3) {
    width: 14%;
  }
  .request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(4),
  .request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(4) {
    width: 15%;
  }
  .request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(5),
  .request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(5) {
    width: 15%;
  }
  .request-order-list-wrapper .request-order-table-section .request-order-list th:nth-child(6),
  .request-order-list-wrapper .request-order-table-section .request-order-list td:nth-child(6) {
    width: 13%;
  }
}

/*# sourceMappingURL=ListRequestOrder.css.map */
