@import '../../App.scss';

.order-page-container {
  max-width: 90%;
  margin: auto;

  .page-header {
    display: flex;
    flex-direction: column;  // 세로 방향 배치
    gap: 20px;              // 요소들 사이 간격
    margin-top: 40px;
    margin-bottom: 40px;

    h1 {
      color: $primary-color;
      font-family: $font-primary;
      margin: 0;
    }
  }
}