@import "../../../App.scss";

.approval-page-wrapper {
  max-width: 90%;
  margin: auto;
  position: relative;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
      color: $primary-color;
      font-family: $font-primary;
      margin: 0;
    }
  }

  // 반응형 디자인 (모바일, 태블릿 등)
  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 10px;
    top: 50px;

    .page-header {
      flex-direction: column;
      text-align: center;

      h1 {
        font-size: 1.5rem;
      }
    }

    .approval-page-loading {
      font-size: 1rem;
      margin-top: 10px;
    }
  }
}
