@import "../../../App.scss";

.employee-attendance-page-container {
  max-width: 90%;
  margin: auto;
  position: relative;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
      color: $primary-color;
      font-family: $font-primary;
      margin: 0;
    }
  }

  .search-content {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
  }

  .search-option-select {
    padding: 8px;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    font-family: $font-primary;
    background-color: white;
    cursor: pointer;
    width: 100px;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  .search-input {
    flex: 1;
    width: 250px;
    padding: 8px;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    font-family: $font-primary;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  .search-btn {
    padding: 8px 16px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: $font-primary;
    height: 36px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .attendance-list {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid $background-color;
        font-family: $font-primary;
      }

      th {
        background-color: $primary-color;
        color: white;
        font-weight: 500;
      }
    }
  }

  // 반응형 디자인 (모바일, 태블릿 등)
  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 10px;
    top: 30px;

    .page-header {
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;

      h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }

      .search-content {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
      }
    }

    .search-option-select {
      width: 20%;
    }

    .search-input {
      width: 100%;
    }

    .search-btn {
      width: 14%;
    }

    .attendance-list {
      table {
        th,
        td {
          padding: 10px;
          font-size: 0.9rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .page-header {
      h1 {
        font-size: 1.5rem;
      }
    }

    .search-option-select,
    .search-input {
      width: 100%;
    }

    .attendance-list {
      table {
        th,
        td {
          padding: 8px;
          font-size: 0.8rem;
        }
      }
    }

    .search-btn {
      width: 100%;
      margin-top: 10px;
    }
  }
}
