@import "../../../App.scss";

.employee-attendance-page-container {
  max-width: 90%;
  margin: auto;
  position: relative;

  .employee-attendance-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
      color: $primary-color;
      font-family: $font-primary;
      margin: 0;
    }

    .employee-attendance-header-right {
      display: flex;
      align-items: center;
      gap: 20px;
    }

  .attendance-request-btn {
    padding: 8px 16px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: $font-primary;
    height: 38px;
    display: flex;
    align-items: center;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
}