@import url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css");
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", sans-serif;
  line-height: 1.6;
  display: block;
}

.menu-toggle {
  display: none;
}

.basic-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.basic-layout .main-layout {
  display: flex;
  flex: 1;
}
.basic-layout .main-layout .sidebar {
  width: 190px;
  background-color: #3c485a;
  color: #fff;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.basic-layout .main-layout .sidebar.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
.basic-layout .main-layout .sidebar.active {
  transform: translateX(0);
}
.basic-layout .main-layout .sidebar .logo {
  padding: 1rem;
  cursor: pointer;
}
.basic-layout .main-layout .sidebar .logo > img {
  width: 160px;
  height: auto;
}
.basic-layout .main-layout .sidebar .user-info {
  padding: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.basic-layout .main-layout .sidebar .user-info .user-name-position {
  display: flex;
  align-items: center;
  gap: 4px;
}
.basic-layout .main-layout .sidebar .user-info .user-name-position span {
  font-size: 1.2rem;
}
.basic-layout .main-layout .sidebar .user-info .user-name-position span.user-name {
  font-weight: bold;
}
.basic-layout .main-layout .sidebar .user-info .user-name-position span.user-position {
  opacity: 0.8;
}
.basic-layout .main-layout .sidebar .user-info .user-department {
  font-size: 1rem;
  opacity: 0.8;
}
.basic-layout .main-layout .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.basic-layout .main-layout .sidebar ul li {
  margin-bottom: 0.5rem;
}
.basic-layout .main-layout .sidebar ul li .menu-item {
  padding: 0.7rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}
.basic-layout .main-layout .sidebar ul li .menu-item:hover {
  background-color: rgb(70.2, 84.24, 105.3);
}
.basic-layout .main-layout .sidebar ul li .menu-item.active {
  background-color: rgb(70.2, 84.24, 105.3);
}
.basic-layout .main-layout .sidebar ul li .submenu {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.basic-layout .main-layout .sidebar ul li .submenu li {
  margin-bottom: 0.3rem;
}
.basic-layout .main-layout .sidebar ul li .submenu li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  border-radius: 4px;
}
.basic-layout .main-layout .sidebar ul li .submenu li a:hover {
  background-color: rgb(76.32, 91.584, 114.48);
  padding-left: 1.5rem;
}
.basic-layout .right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.basic-layout .right-container .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  padding: 0.5rem 2rem;
  background-color: #3c485a;
  z-index: 1000;
  border-radius: 0;
}
.basic-layout .right-container .header .header-buttons {
  display: flex;
  gap: 1.3rem;
}
.basic-layout .right-container .header .header-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s;
}
.basic-layout .right-container .header .header-buttons button:hover {
  transform: scale(1.1);
}
.basic-layout .right-container .header .header-buttons button .unread-badge {
  background: red;
  color: #f5f7fa;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 13px;
  min-width: 24px;
  text-align: center;
  margin-left: 5px;
  font-weight: 800;
  margin-bottom: 18px;
}
.basic-layout .right-container .chatbot-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3c4856;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}
.basic-layout .right-container .chatbot-btn:hover {
  background-color: #007bff;
}
.basic-layout .right-container .chat-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 350px;
  height: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.basic-layout .right-container .chat-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.basic-layout .right-container .content {
  flex: 1;
  padding: 2rem;
  background-color: #f5f7fa;
}

/* Responsive styles */
@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    padding: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    height: 100vh;
  }
  .sidebar.active {
    transform: translateX(0);
  }
  .sidebar .logo {
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .sidebar .logo > img {
    width: 150px;
  }
  .sidebar .user-info {
    padding: 0.8rem;
    margin-bottom: 1.5rem;
  }
  .sidebar ul {
    padding: 0;
    margin: 0;
  }
  .sidebar ul li {
    margin-bottom: 1rem;
  }
  .sidebar ul li .menu-item {
    padding: 1rem;
    font-size: 1rem;
  }
  .sidebar ul li .menu-item:hover {
    background-color: rgb(70.2, 84.24, 105.3);
  }
  .sidebar ul li .submenu {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .sidebar ul li .submenu li {
    margin-bottom: 0.5rem;
  }
  .sidebar ul li .submenu li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
  }
  .right-container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #3c485a;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right-container .header .header-left {
    position: absolute;
    left: 0;
    top: 5;
    padding: 0.5rem 1rem;
    z-index: 1100;
  }
  .right-container .header .header-left .menu-toggle {
    display: block;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .right-container .header .header-buttons {
    display: flex;
    gap: 1rem;
    position: relative;
  }
}
.right-container .header .header-buttons {
  display: flex;
  gap: 1rem;
  position: relative;
}

/*# sourceMappingURL=BasicLayout.css.map */
