@import "../../../../App.scss";

.order-page-container {
  max-width: 90%;
  margin: auto;
  position: relative;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
      color: $primary-color;
      font-family: $font-primary;
      margin: 0;
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 20px;
    }
   
      }
    }
  