@import "../../../App.scss";

.product-list-wrapper {
  width: 100%;

  .product-table-section {
    background-color: white;
    width: 100%;
    border-left: 1px solid #ddd;
    margin-top: 20px;

    .product-list-grid {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;

      th,
      td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
        word-wrap: break-word;

        &:first-child {
          border-left: none;
        }
      }

      th {
        background-color: #4a5568;
        color: white;
        font-weight: 500;
        border-bottom: 1px solid #2d3748;
      }

      tr {
        &:hover {
          background-color: #f8f9fa;
        }
      }

      th:nth-child(1),
      td:nth-child(1) {
        width: 8%;
      }
      th:nth-child(2),
      td:nth-child(2) {
        width: 10%;
      }
      th:nth-child(3),
      td:nth-child(3) {
        width: 12%;
      }
      th:nth-child(4),
      td:nth-child(4) {
        width: 12%;
      }
      th:nth-child(5),
      td:nth-child(5) {
        width: 10%;
      }
      th:nth-child(6),
      td:nth-child(6) {
        width: 15%;
      }
    }

    .product-name-btn {
      font-weight: bold;
      border: none;
      color: #4a5568;
      cursor: pointer;
      padding: 10;
      font-size: 16px;
      border: 1px solid #ddd;

      &:hover {
        text-decoration: underline;
        color: #2d3748;
      }
    }

    .product-table-detail-btn {
      appearance: none;
      background: none;
      border: none;
      color: #4a5568;
      cursor: pointer;
      padding: 0;
      font-family: inherit;
      font-weight: bolder;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #2d3748;
      }
    }

    .sale-btn,
    .purchase-btn {
      padding: 6px 16px;
      margin: 0 5px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
    }

    .sale-btn {
      background-color: $secondary-color;
      color: white;
    }

    .purchase-btn {
      background-color: $secondary-color;
      color: white;
    }
  }
}
