@import "../../../App.scss";

.product-page-container {
  max-width: 90%;
  margin: auto;
  position: relative;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    h1 {
      color: $primary-color;
      font-family: $font-primary;
      margin: 0;
      margin-right: auto;
    }

    .product-header-right {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .new-product-btn {
      padding: 8px 16px;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: $font-primary;
      height: 38px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  // 1024px 이하 반응형 스타일
  @media (max-width: 1024px) {
    max-width: 100%;
    padding: 0 10px;
    top: 30px;

    .page-header {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 100%;
    }

    h1 {
      font-size: 1.6rem;
      text-align: center;
      width: 100%;
    }

    .header-right {
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 15px; // 여백 추가
    }

    .new-product-btn {
      width: 100%;
      justify-content: center;
      padding: 10px 16px; // 버튼 높이 조정
    }
  }

  // 모바일 반응형 스타일 (768px 이하)
  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 10px;
    top: 30px;

    .page-header {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 100%;
    }

    h1 {
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
    }

    .product-header-right {
      display: flex;
      flex-direction: column;

      .new-product-btn {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
      }
    }
  }
}
