@import "../../../App";

.forgot-password-page {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100vh;
  background-color: #f4f4f4;

  .forgot-password-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 800px;

    @include respond-to("tablet") {
      width: 600px;
    }

    @include respond-to("mobile") {
      width: 100%;
      padding: 1rem;
    }

    .forgot-password-upper {
      text-align: center;

      .logo {
        width: 50%;
        height: auto;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 2rem;
        color: $primary-color;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        color: $secondary-color;
        margin-bottom: 1.5rem;
      }
    }

    .forgot-password-form {
      width: 100%; /* 폼 너비를 100%로 설정 */
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.5rem;

      .input-group {
        width: 80%; /* 입력 그룹의 너비를 설정 */
        margin-bottom: 1rem;
        text-align: left;

        label {
          font-size: 1.2rem;
          color: $primary-color;
          margin-bottom: 0.5rem;
        }

        input {
          width: 100%;
          padding: 1rem;
          border: 1px solid $secondary-color;
          border-radius: 4px;
          font-size: 1rem;
          font-family: $font-secondary;
          background-color: #fff;

          &:focus {
            outline: none;
            border-color: $primary-color;
            box-shadow: 0 0 4px rgba($primary-color, 0.4);
          }

          @include respond-to("mobile") {
            padding: 0.8rem;
          }
        }
      }
    }

    .forgot-password-button {
      width: 80%; /* 버튼의 너비를 100%로 설정 */
      text-align: center;
      margin-top: 20px;

      button {
        width: 100%;
        padding: 1.2rem;
        background-color: $primary-color;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-size: 1.1rem;
        font-family: $font-secondary;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($primary-color, 10%);
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 4px rgba($primary-color, 0.4);
        }

        @include respond-to("mobile") {
          padding: 1rem;
          font-size: 1rem;
        }
      }
    }
  }
}
